{{ template "Header" }}
package aggregator

{{ template "Imports" unique .Imports }}


type Aggregator struct {
{{- range $m := .Models }}
	domain.{{ camel $m.Repo.Name }}
{{- end }}
}

func NewAggregator(
{{- range $m := .Models }}
	{{ lcamel $m.Repo.Name }} domain.{{ camel $m.Repo.Name }},
{{- end }}
	) *Aggregator {
	return &Aggregator{
{{- range $m := .Models }}
	{{ camel $m.Repo.Name }}: {{ lcamel $m.Repo.Name }},
{{- end }}
	}
}
