{{ template "Header" }}
package domain

{{ template "Imports" unique .Imports }}


{{ with $m := .Model }}
{{ template "RepoInterface" $m }}

{{ template "Struct" $m }}

{{ range $sm := $m.Relationships }}
{{ template "Struct" $sm }}
{{ end}}
{{ end }}
