{{ template "Header" }}
package domain

{{ template "Imports" unique .Imports }}

{{ with $m := .Model }}
{{ template "Interface" $m }}

{{ template "Struct" $m }}

{{ range $sm := $m.SubModels }}
{{ template "Struct" $sm }}
{{ end}}
{{ end }}
