{{ define "Imports" }}
{{ if . }}
import (
{{- range $import := . }}
	"{{ $import }}"
{{- end }}
){{ end }}
{{ end }}


{{ define "RepoInterface" }}
type {{ camel .Repo.Name }} interface {
{{- range $method := .Repo.Methods }}
	{{ template "RepoMethod" $method }}
{{- end }}
{{/* - range $model := .Relationships -}}
	{{- range $method := $model.Methods }}
		{{ template "RepoMethod" $method }}
	{{- end }}
{{- end - */}}
}
{{ end }}


{{- define "RepoMethod" -}}
{{ camel .Name }}(ctx context.Context
{{- range $arg := .Args -}}
, {{ lcamel $arg.Name }} {{ gotype $arg.Type }}
{{- end -}}
) ({{ return .Return }}, error)
{{- end -}}


{{ define "Interface" }}
type {{ camel .Name }} interface {
{{- range $method := .Methods }}
	{{ camel $method.Name }}(ctx context.Context
{{- range $arg := $method.Args -}}
, {{ lcamel $arg.Name }} {{ gotype $arg.Type }}
{{- end -}}
) ({{ return $method.Return }}, error)
{{- end }}
}
{{ end }}


{{ define "Struct" }}
type {{ camel .Name }} struct {
{{- range $field := .Fields }}
	{{- if ne $field.Type "manytomany" }}
	{{ camel $field.Internal }} {{ gotype $field.Type }} `db:"{{ $field.Internal }}" json:"{{ $field.Internal }}"`
    {{- end }}
{{- end }}
}
{{ end }}


{{ define "RepoSignature" }} 
func (t *{{ .Struct }}) Get{{ .Model }}By
{{- range $i, $f := .Index.Fields -}}
  {{- if gt $i 0 }}And{{ end -}}
  {{- camel $f.Name -}}
{{- end -}}(ctx context.Context
{{- range $f := .Index.Fields }}, {{ $f.Name }} {{ $f.Type }}{{ end }})(*{{ .Model }}, error)
{{- end }}


{{ define "Header" }}
// Generated file DO NOT EDIT {{ now }}
{{- end }}


{{- define "ModelMutationCreate" -}}
type {{ camel .Mutation.Name }}Input {
}

type {{ camel .Mutation.Name }}Output {
	{{ lcamel .Model.Name }}: {{ camel .Model.Name }}!
}
{{- end -}}


{{- define "ModelMutationDelete" -}}
type {{ camel .Mutation.Name }}Input {
}

type {{ camel .Mutation.Name }}Output {
	ok: Boolean!
}
{{- end -}}


{{- define "ModelMutationUpdate" -}}
type {{ camel .Mutation.Name }}Input {
}

type {{ camel .Mutation.Name }}Output {
	ok: Boolean!
}
{{- end -}}


{{- define "ModelMutations" -}}
{{ with $model := . }}
{{- range $m := $model.Mutations }}
{{- if eq $m.Type "create" }} 
{{ template "ModelMutationCreate" args "Model" $model "Mutation" $m }}
{{- else if eq $m.Type "create" }} 
{{ template "ModelMutationDelete" args "Model" $model "Mutation" $m }}
{{- else }}
{{ template "ModelMutationUpdate" args "Model" $model "Mutation" $m }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}


{{- define "ModelMutationDefinitions" -}}
{{- range $m := .Mutations }}
	{{ lcamel $m.Name }}(input: {{ camel $m.Name }}Input!): {{ camel $m.Name }}Output!  
{{- end }}
{{- end -}}
