{{ template "Header" }}
package interactor

{{ template "Imports" unique .Imports }}


type Interactor struct {
	domainx.Aggregator
}

func NewInteractor(a domainx.Aggregator) *Interactor {
	return &Interactor{a}
}

// TODO: Update Interactor to specialize aggregator methods
// to implement specific business logic
