package resolver

{{ template "Imports" unique .Imports "context" "encoding/base64" "github.com/graph-gophers/graphql-go" }}

type Resolver struct {
{{ range $m := .Models }}
	*{{ camel $m.Name }}QueryResolver
{{- end }}
}

func (t *Resolver) Ping(ctx context.Context) string {
	return "Pong"
}
