{{ range $m := .Models }}
type {{ camel $m.Name }} {
{{- range $f := $m.Fields }}
{{- if $f.ShouldExpose }}
	{{ lcamel $f.Name }}: {{ gqltype $f }}!
{{- end }}
{{- end }}
}
{{ end }}

type Query {
	ping: String!
{{ range $m := .Models }}
	{{ lcamel $m.Name }}(id: ID!): User!
	{{ lcamel $m.Plural }}List(first Integer!, after ID!): [User!]!
{{ end -}}
}

schema {
	query: Query
}
