{{ template "Header" }}
package db

{{ template "Imports" unique .Imports "context" "github.com/pkg/errors" "github.com/sjhitchner/graphql-resolver/lib/db" }}

//"github.com/sjhitchner/graphql-resolver/generated/domain"

{{- define "DBMethod" -}}
{{ camel .Name }}(ctx context.Context
{{- range $arg := .Args -}}
, {{ lcamel $arg.Name }} {{- if $arg.Deref -}}*{{- end -}}{{ gotype $arg.Type "domain" }}
{{- end -}}
) ({{ return .Return "domain" }}, error)
{{- end -}}


{{ define "Select" }}
SELECT {{ range $i, $f := .Fields }}
{{- if not (many2many $f.Relationship) }}
	{{- if gt $i 0 }}, {{ end -}}{{ $.Name }}.{{ $f.Internal }} {{ $f.Internal }}
{{ end }}
{{- end -}}
FROM {{ .Name }}
{{ end }}


{{ define "Insert" }}
INSERT INTO {{ .Name }} (
{{ range $i, $f := .Fields }}
	{{- if gt $i 0 }}, {{ end -}}{{ $f.Internal }}
{{ end }}
{{ range $i, $f := .Fields }}
	{{- if gt $i 0 }}, {{ end -}}{{ add $i 1 }}
{{ end }}
{{ end }}


{{ define "Update" }}
{{ end }}


{{ define "Delete" }}
{{ end }}


{{- define "QueryError" -}}
errors.Wrapf(err, "Error Getting {{ .Model.Name }} {{ range $arg := .Method.Args -}} {{ lcamel $arg.Name }}='%v'{{- end -}}" 
{{- range $arg := .Method.Args -}}, {{ lcamel $arg.Name }}{{- end -}})
{{- end -}}


{{- define "GetQuery" -}}
var obj domain.{{ camel .Model.Name }}
err := t.db.GetById(ctx, &obj, Select{{ camel .Method.Name }}
{{- range $arg := .Method.Args -}}
	, {{ lcamel $arg.Name }}
{{- end -}})
return &obj, {{- template "QueryError" args "Model" .Model "Method" .Method }}
{{- end -}}


{{- define "ListQuery" -}}
var list []*domain.{{ camel .Model.Name }}
err := t.db.Select(ctx, &list, Select{{ camel .Method.Name }}
{{- range $arg := .Method.Args -}}
	, {{ lcamel $arg.Name }}
{{- end -}})
return list, {{- template "QueryError" args "Model" .Model "Method" .Method }}
{{- end -}}


{{- define "InsertMethod" -}}
{{- end -}}


{{- define "UpdateMethod" -}}
{{- end -}}


{{- define "DeleteMethod" -}}
{{- end -}}


{{ with $m := .Model }}
type {{ camel $m.Name }}DB struct {
	db db.DBHandler
}

{{ range $method := .Repo.Methods }}

const Select{{ camel $method.Name }} = `
{{- template "Select" $m }}
{{- if many2many $method.Relationship -}}
JOIN {{ $method.Relationship.Through }} ON {{ $method.Relationship.To }}.id = {{ $method.Relationship.Through }}.{{ $method.Relationship.Field }}
{{- end -}} WHERE {{ range $i, $arg := $method.Args -}}
{{- if gt $i 0 }} AND {{ end -}}
{{ $arg.Parent}}.{{ $arg.Name }} = ${{ add $i 1 }}
{{- end }}
`

func (t *{{ camel $m.Name}}DB) {{ template "DBMethod" $method }} {
{{- if eq $method.Type "list" }}
	{{ template "ListQuery" args "Model" $m "Method" $method }}
{{- if eq $method.Type "get" }}
	{{ template "GetQuery" args "Model" $m "Method" $method }}
{{- else if eq $method.Type "create" }}
	{{ template "InsertQuery" args "Model" $m "Method" $method }}
{{- else if eq $method.Type "update" }}
	{{ template "UpdateQuery" args "Model" $m "Method" $method }}
{{- else if eq $method.Type "delete" }}
	{{ template "DeleteQuery" args "Model" $m "Method" $method }}
{{- end }}
}

{{ end }}
{{ end }}
