package resolver

{{ template "imports" unique .Imports "encoding/base64" "github.com/graph-gophers/graphql-go" }}

{{ with $m := .Model }}
{{ comment $m.Description }}

type {{ $m.Name }} struct {
{{ template "ModelFields" $m }}
}

type {{ $m.Name }}Resolver struct {
	aggregator Aggregator
	{{ if  $m }}
	{{- else if  $m -}}
	{{- template "ModelFields" $m -}}
	{{- else -}}
	aggregator Aggregator
	obj *{{ $m.Name }}
	{{ template "ModelFields" $m }}
	{{- end }}
}

{{ range $f := .Fields $m -}}
{{ template "ModelSignature" args "Name" $m.Name "Field" $f }} {
{{- if  $m }}
	{{ template "ResolverMethod" $f }}
{{- else if  $m }}
	{{ template "ConnectionMethod" $f }}
{{- else if  $m }}
	{{ template "EdgeMethod" $f }}
{{- else if  $m }}
	{{ template "PageInfoMethod" $f }}
{{- else }}
	{{ template "ResolverMethod" $f }}
{{- end }}
}
{{ end }}
{{ end }}
